
/**
* list 上图下文字,一排3个元素 热点文章
*/
.list{
    font-size: 0px;
}
.list .item{
    width: 33%;
    padding:2%;
    box-sizing: border-box;
    border: 1px solid #fff;
    vertical-align: top;
}
.list .item .info{

}
.list .item .thumbContainer{
    overflow: hidden;
    perspective: 1000px;
}
.list .item .thumb{
    width: 100%;
    height: auto;
    transform: translateZ(0);
    transition:all .3s ease-out;
}
.list .item .title{
    font-size: 18px;
    color: #666;
    margin: 40px 0px 20px 0px;
}
.list .item .title a{
    color: #333;
}
.list .item .excerpt{
    font-size: 14px;
    line-height:1.5em;
    color: #808080;
    margin: 10px 0px;
    height: 4.5em;
    position: relative;
    overflow: hidden;
}
.list .item .tag{
    margin: 30px 0px;
}
.list .item:hover{
    border: 1px solid #808080;
}
.list .item:hover a{
    /*color: #000;*/
}
.list .item:hover .thumb{
    
    transform: translateZ(100px);
}

/**
* list1 文字覆盖在图片上，hover时从内容从底部出来 首页人物故事、艺术教育、子栏目的作品、作品
*/
.list1{
    font-size:0;
    margin-left: 2%;
}
.list1 .item{
    box-sizing:border-box;
    position:relative;
    overflow:hidden;
    width: 29.3%;
    margin:2%;
    vertical-align: top;
}
.list1 .item .thumbContainer{
    overflow: hidden;
}
.list1 .item .thumb{
    width:100%;
    transition:all 0.4s ease-out;
}
.list1 .item .info{
    width:100%;
    height: 100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    filter:alpha(opacity=20);
    background: #000;
    background: rgba(0,0,0,0.2);
    position:absolute;
    top:100%;
    left:0;
    transition:all 0.4s ease-out;
    color: #fff;
}
.list1 .item:hover .info{
    top:0;
}
.list1 .item .title{
    font-size: 18px;
    text-align:center;
    border-bottom: 2px solid #fff;
    padding: 5px 0px 10px 0px;
    line-height: 1.5em;
    color: #fff;
}
.list1 .item .title a{
    color:#fff;
}
.list1 .item .excerpt{
    font-size:14px;
    line-height:1.5em;
    margin:auto;
    color: #fff;
    max-height: 3em;
    overflow: hidden;
}
.list1 .item .author{
    font-size:14px;
    margin: 10px 0px;
    position:static;
    text-align:center;
    display:block;
    color: #fff;
}
.list1 .item .tag{
    margin:10px auto 0px auto;
    color: #fff;
    border: 1px solid #fff;
}
.list1 .item .tag:hover{
    background: #fff;
    color: #666;
}
.list1 .item .icon{
    margin: 10px auto auto auto;
    color: #fff;
    font-size: 32px;
    text-align: center;
    display: block;
    width: 40px;
}
/**
* list11 更改了内容的颜色 首页视频
*/
.list11{
    padding:0px 10%;
    margin-left: 0px;
}
.list11 .item{
    width: 100%;
    margin: 0px;
}
.list11 .item .thumbContainer{
    perspective: 1000px;
}
.list11 .item .thumb{
    transition: all 0.3s ease-out;
    transform: translateZ(0);
}
.list11 .item:hover .thumb{
    transform: translateZ(100px);
}
.list11 .item .info{
    background: #000;
    filter:alpha(opacity=0);
    opacity: 0;
    top:0;
}
.list11 .item .title{
    color: #fff;
    margin: 15% auto 20px;
    border: none;
    font-size: 24px;
    font-size: 2.4rem;
    white-space: nowrap;
    width:80%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list11 .item:hover .info{
    visibility: visible;
    opacity: .7;
    filter:alpha(opacity=70);
    
}
/**
* list12 在list1基础上更改动画 继承list1 子栏目的历年活动、儿童画征集
*/
.list12{

}
.list12 .item .info{
    top:0px;
    background: #000;
    background: rgba(0,0,0,.5);
    visibility: hidden;
/*    transition:all 0.4s ease-out;*/
    color: #fff;
    opacity: 0;
    filter:alpha(opacity=0);
}
.list12 .item .title{
    border-bottom: 1px solid #fff;
}
.list12 .item .thumbContainer{
    perspective: 1000px;
}
.list12 .item .thumb{
    transform: translateZ(0);
}
.list12 .item:hover .info{
    visibility: visible;
    opacity: .7;
    filter:alpha(opacity=70);
}
.list12 .item .excerpt{
    color: #fff;
}
.list12 .item:hover .thumb{
/*    transform:scale(1.05,1.05);*/
    transform: translateZ(100px);
}
/**
* list1M 继承list1,显示两个，主要用于用于小屏幕
*/
.list1M{

}
/**
* list1M1 继承list1, 主要用于小屏幕隐藏最后一个
*/
.list1M1{

}

/**
* list2 上图下内容，图片居中,一排3个元素 艺术传承
*/
.list2{
    font-size: 0px;
}
.list2 .item{
    width: 33%;
    padding:2%;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
    vertical-align: top;
}
.list2 .item .thumb{
    display: block;
    margin: auto;
}
.list2 .item .title{
    color: #666;
    font-size: 18px;
    padding: 10px 0px;
    border-bottom: 1px solid #666;
}
.list2 .item .titleNoBd{
    border: none;
}
.list2 .item .date{
    margin: 15px 0px;
    color: #666;
}
.list2 .item .excerpt{
    color: #808080;
    font-size: 14px;
    line-height: 1.5em;
    text-align: left;
    height: 4.5em;
}
/*
* 继承list2 在list2的基础上图片100%显示，用于小屏幕
*/
.list21{

}
/**
* list3 一个item里面3栏,一行1个元素 人物故事、艺术家动态、历年活动、志愿者培训
*/
.list3{

}
.list3 .item{
    display: block;
    border-top: 1px solid #ccc;
    font-size: 0px;
    padding: 20px 0px;
    position: relative;
}
.list3 .item a{
    display: block;
}
.list3 .item:first-child{
    border: none;
}
.list3 .item .date{
    display: inline-block;
    width: 20%;
    padding: 0px 5% 0px 0px;
    box-sizing: border-box;
    color: #666;
    font-style: italic;
    vertical-align: top;
    font-family: Georgia;
}
.list3 .item .date .top{
    font-size: 18px;
    padding: 0px 0px 4px 0px;
    border-bottom: 1px solid #ccc;
}
.list3 .item .date .bottom{
    font-size: 24px;
    margin-top: 15px;
    font-weight: lighter;
}
.list3 .item .thumbContainer{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    overflow: hidden;
    perspective: 1000px;
}
.list3 .item .thumb{
    width:100%;
    transition:all 0.3s ease-out;
    transform: translateZ(0);
}
.list3 .item .info{
    display: inline-block;
    width: 50%;
    padding: 0px 5%;
    box-sizing: border-box;
    vertical-align: top;
}
.list3 .item .title{
    font-size: 24px;
    color: #666;
    margin: 0 0 20px 0;
    line-height: 1.5em;
}
.list3 .item .author{
    font-size: 18px;
    margin: 10px 0px 15px 0px;
    color: #666;
}
.list3 .item .excerpt{
    font-size: 14px;
    color: #808080;
    line-height: 1.5em;
    text-align: justify;
}
.list3 .item:hover .thumb{
    transform: translateZ(100px);
}
/****
* list31只有两栏 继承list3 荣誉
*/
.list31 .item{
    padding: 20px;
}
.list31 .item .thumbContainer{
    vertical-align: middle;
}
.list31 .item .info{
    width: 70%;
    vertical-align: middle;
}
/**
* list32只有两栏，继承list3 对内容进行了排版修改 感言
*/
.list32 .item{
    padding: 20px;
}
.list32 .item .thumbContainer{
    vertical-align: middle;
}
.list32 .item .info{
    width: 70%;
    vertical-align: middle;
}
.list32 .item .excerpt{
    padding: 0px 30px;
}
.list32 .item .author{
    margin: 10px 0px 50px 0px;
    line-height: 1.5em;
    font-size: 14px;
}
.list32 .hasQuotation:before{
    font-size: 24px;
    left:0px;
    top:-5px;
}
.list32 .hasQuotation:after{
    font-size: 24px;
    right:0px;
    bottom:0px;
}
.list32 .item:hover .thumb{
    transform:none;
}
/**
* list4 实习生招聘,直接显示内容
*/
.list4{

}
.list4 .item{
    display: block;
    padding: 20px;
    position: relative;
    background: #f7f7f7;
    margin: 20px 0px;
}
.list4 .item .leftCorner{
    position: absolute;
    left: -60px;
    top:20px;
    width: 70px;
    height: 50px;
    background: #c2c2c2;
    color: #fff;
}
.list4 .item .leftCorner .arrow{
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0px 25px 25px;
    border-color: transparent transparent transparent #fff;
}
.list4 .item .leftCorner .text{
    vertical-align: middle;
    display: inline-block;
}
.list4 .item table{
    color: #808080;
}
.list4 .item table tr td{
    padding: 5px 20px;
    vertical-align: top;
    line-height: 1.5em;
}
.list4 .item table tr td:first-child{
    border-right: 1px solid #808080;
    width: 60px;
}
/**
* list5 一行三个，上图下文，图片有遮盖层  视频
*/
.list5{
    font-size: 0px;
    padding:40px 0px 0px 0px;
}
.list5 .item{
    width: 33%;
    padding:2%;
    box-sizing: border-box;
    border: 1px solid #fff;
}
.list5 .item .thumbContainer{
    position: relative;
    perspective: 1000px;
    overflow: hidden;
}
.list5 .item .thumb{
    transform: translateZ(0);
    transition: all 0.4s ease-out;
}
.list5 .item:hover .thumb{
    transform: translateZ(100px);
}
.list5 .item .icon{
    font-size: 24px;
    color: #fff;
    position: absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background: rgba(0,0,0,0.3);
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20%;
    box-sizing: border-box;
    opacity: 0;
    transition: all 0.4s ease-out;
}
.list5 .item:hover .icon{
    visibility: visible;
    opacity: 1;
}
.list5 .item .text{
    text-align: center;
    color: #666;
    font-size: 14px;
    margin: 10px 0px;
}
.list5 .item .excerpt{

}



.weChatList{
    padding: 10px 10%;
    width: 100%;
    margin: auto;
    font-size:0px;
    box-sizing: border-box;
}
.weChatList .item{
    width: 33.3%;
    border-left:1px solid #ccc;
    box-sizing: border-box;
    padding:0 10px;
    vertical-align: top;
    position: relative;
}
.weChatList .item:last-child{
    border-right:1px solid #ccc;
}
.weChatList .item .link{

}
.weChatList .item .thumb{
    width: 20%;
    height: auto;
}
.weChatList .item .line-text{
    position: absolute;
    left:20%;
    right:10px;
    top:0;
    bottom:0;
    margin-left: 20px;
}
.weChatList .item .title{
    color:#808080;
    font-size: 14px;
    font-size: 1.4rem;
    line-height: 1.3em;
    font-style: italic;
    margin-right: 1em;
}
.weChatList .item .date{
    display: inline-block;
    font-size: 13px;
    font-size: 1.3rem;
    color:#aaa;
    line-height: 2em;
}
.weChatList .item:hover .title{
    color: #000;
}

.partnerList{
    width: 100%;
    font-size: 0;
}
.partnerList li{
    width:12.28%;
    margin:0 1%;
    display: inline-block;
    vertical-align: middle;
}
.partnerList li img{
    width:100%;
}
.contentList{
    width:100%;
    font-size: 0;
    
}
.contentList li{
    display: inline-block;
    width:33.3%;
    box-sizing: border-box;
    padding:0 10px;
    text-align:center;
    font-size: 14px;
    font-size: 1.4rem;
    vertical-align: top;
}
.contentList li .icon{
    font-size: 40px;
    color: #808080;
    margin-bottom: 10px;
}
.contentList li h3{
    font-size: 16px;
    font-size: 1.6rem;
    color: #666;
    margin:0 0 20px 0;
    font-weight: bold;
}
.contentList li p{
    line-height: 2em;
    color: #808080;
    margin-bottom: 20px;
}
.contentList.contentConcern li h3{
    color:#333;
}
.contentList.contentConcern li p{
    color:#666;
}

.searchCategoryList{
    
}
.searchCategoryList li{
    display: inline-block;
    margin: 10px 10px 10px 0;
}
.searchCategoryList li a{
    display: inline-block;
    padding:10px;
    background: #808080;
    color: #ccc;
}
.searchCategoryList li a:hover{
    color:#fff;
}
.searchPageList{
    
}
.searchPageList .item{
    padding: 20px 0;
}
.searchPageList .item .thumbContainer{
    width:20%;
}
.searchPageList .item .info{
    width: 80%;
    vertical-align: top;
}



