@media screen and (min-width:1600px){
    .pSectionTopList .item{
/*        width: 320px;*/
    }
    .pSectionTopList .item .thumb{
/*        height: 240px;*/
    }
}
@media screen and (min-width:1280px){
    .pSectionTopList .item{
/*        width: 240px;*/
    }
    .pSectionTopList .item .thumb{
/*        height: 180px;*/
    }
}
@media screen and (max-width:1024px){
    .header{
        padding:0 5%;
    }
    .logo{
        
    }
    .menu>.item>a{
        min-width: 44px;
    }
    .searchContainer{
        min-width: 50px;
    }
    .weChatList{
        padding:10px 5%;
    }
    .breadcrumb{
        padding:0 5%;
        width:100%;
    }
    .section{
        padding: 40px 20px;
        width: 100%;
    }
    .youkuBox iframe{
        width:90%!important;
    }
    .list1 .item .title{
        margin-top:10px;
        padding: 0;
    }
    .list1 .item .excerpt{
        display: none;
    }
    .list1 .item .tag{
        margin: 20px auto 0px auto;
    }
    
    .list11 .item .title{
        margin-top:15%;
        color: #fff;
    }

    .pSectionTopList .item{
/*        width: 144px;*/
    }
    .pSectionTopList .item .thumb{
/*
        height: 108px;
        width: 144px;
*/
    }
}
@media screen and (max-width:768px){
    .pageTop .info{
        width: 80%;
        margin-left: -40%;
    }
    .pageTop .title{
        font-size:20px;
        font-size: 2rem;
        padding:20px;
        border:#fff solid 1px;
            
    }
    .pageTop .excerpt{
        margin: 20px;
        display: none;
    }
    .swiper-slide .detail{
        width: 80%;
    }
    .swiper-slide .detail .title{
        margin:10px 0;
        line-height: 1.5em;
        font-size: 20px;
        font-size: 2rem;
    }
    .swiper-slide .detail .date{
        margin: 0;
    }
    .swiper-slide .detail .excerpt{
        display: none;
    }
    .swiper-button-next, .swiper-button-prev{
        display: none;
    }
    .hasQuotation:before{
        font-size: 24px;
        top:-10px;
        left:-25px;
    }
    .hasQuotation:after{
        font-size: 24px;
        bottom: -10px;
        right: -25px;
    }
    .sectionMobile{
        padding:5px 5%;
    }
    .section .contentText{
        width: 90%;
    }
    .section .contentTable td{
        vertical-align: top;
    }
    .displayInMobile{
        display: block!important;
    }
    .displayNoneInMobile{
        display: none!important;
    }
    .artItem .info{
        top:0px;
        bottom:0px;
    }
    .volunteerItem .info{
        left:40%;
    }
    .volunteerItem .container{
        border: none;
    }
    .volunteerItem .center{
        position: static;
        transform:none;
        padding: 0px 10px;
    }
    .volunteerItem .excerpt{
        width: 100%;
    }
    .partnerList li{
        width: 21%;
        margin: 10px 2%;
    }
    
    .list .item{
        width: 100%;
        border:none;
        padding: 0px;
        margin: 15px 0px;
    }
    .list .item .thumbContainer{
        display: inline-block;
        width: 30%;
    }
    .list .item .info{
        display: inline-block;
        width: 70%;
        padding: 0px 20px;
        box-sizing: border-box;
        vertical-align: top;
    }
    .list .item .title{
        margin: 0 0 20px 0;
        color: #333;
        font-weight: bold;
    }
    .list .item .excerpt{
        margin: 0px;
    }
    .list .item:hover{
        border: none;
    }
    .list1{
        margin-left: 0px;
    }
    .list1 .item{
        width: 100%;
        margin: 15px 0px;
    }
    .list1 .item .thumbContainer{
        display: inline-block;
        width: 30%;
    }
    .list1 .item .thumb{
        width: 100%;
    }
    .list1 .item .info{
        display: inline-block;
        position: static;
        width: 70%;
        background: none;
        vertical-align: top;
        padding:0px 20px;
        color: #808080;
    }
    .list1 .item .title{
        border:none;
        text-align: left;
        padding: 0px;
        margin: 0 0 20px 0;
        color: #333;
        font-weight: bold;
    }
    .list1 .item .title a{
        color: #333;
    }
    .list1 .item .author{
        text-align: left;
        color: #333;
    }
    .list1 .item .excerpt{
        display: block;
        color: #808080;
    }
    .list1 .item .tag{
        margin-left:0px;
        margin-top: 5px;
        color: #808080;
        border: 1px solid #666;
    }
    .list1 .item .tag:hover{
        color: #fff;
        background:#666;
    }
    
    .list11 .item .thumbContainer{
        width: 100%;
    }
    .list11 .item .thumb{
        width: 100%;
    }
    .list11 .item .info{
        position: absolute;
        width: 100%;
        top:0px;
    }
    .list11 .item .title{
        text-align: center;
        margin:15% auto 20px auto;
        color:#fff;
    }
    .list11 .item .icon{
        margin-top: 10px;
    }
    .list12 .item .info{
        visibility: visible;
        opacity: 1;
    }
    .list12 .item .title{
        color: #333;
    }
    .list1M{

    }
    .list1M .item{
        width: 48%;
        display: inline-block;
        margin-right: 4%;
    }
    .list1M .item:nth-child(2n){
        margin-right: 0px;
    }
    .list1M .item .thumbContainer{
        display: block;
        width: 100%;
    }
    .list1M .item .info{
        padding: 0px;
        font-size: 14px;
        width: 100%;
    }
    .list1M .item .title{
        text-align: center;
        font-size: 16px;
        margin: 10px auto 0;
    }
    .list1M .item .author{
        display: block;
        color: #808080;
        text-align: center;
    }
    .list1M1 .item:last-child{
        display: none;
    }
    .list1 .bdCCC{
         border: none;
    }
    .list2{

    }
    .list2 .item{
        width: 100%;
        font-size: 0px;
    }
    .list2 .item .thumb{
        width: 30%;
        display: inline-block;
        vertical-align: middle;
    }
    .list2 .item .info{
        display: inline-block;
        vertical-align: middle;
        padding-left: 10px;
        width: 70%;
        box-sizing: border-box;
        font-size: 14px;
    }
    .list2 .item .tCenter{
        text-align: left!important;
    }
    .list2 .item .mB20{
        margin-bottom: 0px !important;
    }
    .list21 .item .thumb{
        width: 100%;
    }
    .list3 .item .thumbContainer{
        width: 30%;
        vertical-align: top;
    }
    .list3 .item .info{
        width: 70%;
    }
    .list3 .item .title{
        font-size: 18px;
        font-size:1.8rem;
    }
    .list311 .item .info{
        width:auto;
    }
    .list4 .item .leftCorner{
        left: inherit;
        top:inherit;
        right: 10px;
        bottom:-40px;
        background: #c2c2c2;
        width: 50px;
        height: 70px;
    }
    .list4 .item .leftCorner .arrow{
        border-width: 0px 25px 25px 25px;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        bottom:0px;
        right: 0px;
    }
    .list4 .item .leftCorner .text{
        width: 100%;
        text-align: center;
        padding-top: 3px;
    }

    .pSectionTopList .item{
/*        width: 112px;*/
    }
    .pSectionTopList .item .thumb{
/*
        height: 84px;
        width: 112px;
*/
    }
    .pSectionTopList .item .info{
/*
        font-size: .8rem;
        margin-left: 30px;
*/
    }
    .pSectionTopList .item .title{
        margin: 5px 0px 0px 0px;
        color: #808080;
    }
    .pSectionTopList .item .icon{
/*        font-size: 1rem;*/
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
    .pSectionList2 .item .excerpt{
        display: none;
    }
}

@media screen and (max-width:600px){
    .program{
        width:84%;
    }
    .pSectionTopList .item{
/*        width: 304px;*/
        width:100%;
        margin:10px 0;
    }
    .pSectionList1 .item{
        width: 100%;
        margin: 10px 0px;
    }
    
    .pSectionList1 .item:first-child{
        width: 100%;
    }
    .pSectionList1 .item:hover .image{
        transform: translateZ(0);
    }
    .pSectionList1 .item .info{
        position: static;
        opacity: 1;
        background: #333;
    }
    .pSectionList1 .item:hover .info{
        opacity: 1;
    }
    .pSectionList1 .item .excerpt{
        display: block;
    }
    .pSectionList2 .item{
        width: 100%;
        margin: 10px 0px;
    }
    .pSectionList2 .item:hover .image{
        transform: translateZ(0);
    }
    .pSectionList2 .item .info{
        position: static;
        opacity: 1;
        background: #333;
    }
    .pSectionList2 .item:hover .info{
        opacity: 1;
    }
    .pSectionList2 .item .excerpt{
        display: block;
    }
    .pSectionList3 .item{
        width: 100%;
        margin: 10px 0px;
    }
    .pSectionList4 .item{
        width: 100%;
        margin: 10px 0px;
    }
}

@media screen and (max-width:480px){
    .post{
        width:84%;
    }
    .artItem .center{
        position: static;
        transform:none;
        padding: 0px 10px;
    }
    .teacherTrainItem .info{
        top:-20px;
    }
    .teacherTrainItem .excerpt{
        width: 100%;
    }
    .contentList li{
        width:100%;
    }
    .list11{
        padding: 0;
    }
    .list11 .item .title{
        font-size: 16px;
    }
    .breadcrumb{
        padding: 0px 2%;
    }
    .breadcrumb>li{
        font-size: 12px;
    }
    .pageTop .excerpt{
        font-size: 12px;
        line-height: 18px;
        margin-top: 5px;
    }
    .artItem .title{
        font-size: 16px;
    }
    .artItem .excerpt{
        font-size: 12px;
        line-height: 18px;
    }
    .partnerList li{
        width: 30%;
        margin: 20px 10%;
    }
    .list2 .item .info{
        width:80%;
        margin: 20px auto;
    }
    .list3 .item .thumbContainer{
        width: 30%;
        vertical-align: top;
        display: block;
        margin: 10px auto
    }
    .list3 .item .info{
        display: block;
        margin: auto;
        width: 100%;
    }
    .list3 .item .title{
        text-align: center;
        margin:10px;
    }
    .list3 .item .author{
        text-align: center;
        margin:10px;
    }
    .list311 .item .thumbContainer{
        margin:0 0 10px 10px;
    }
    .list311 .item:nth-child(2n+1) .thumbContainer{
        margin:0 10px 10px 0;
    }
    .searchPageList .item .thumbContainer{
        display: inline-block;
        margin: 0;
    }
    .searchPageList .item .info{
        display: inline-block;
        width:70%;
    }
    .footer .copyRight{
        padding:20px;
    }

    
}
