.program{
    text-align: left;
    width: 70%;
    margin:auto;
    padding-top: 40px;
}
.program .title{
    font-size: 24px;
    font-size: 2.4rem;
    color: #666;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}
.program .subTitle{
    margin: 20px auto 40px auto;
    font-size: 14px;
    color: #999;
    letter-spacing: 0.2em;
    line-height: 2em;
}
.program .pSection{
    clear: both;
    padding: 60px 0px 0px 0px;
}
.program .pSection .pSectionTitle{
    font-size: 0px;
    height: 141px;
    background-repeat: no-repeat;
    background-position: top center;
    padding:0px 0px 60px 0px;
}
.program .pSection .pSectionTitle.pst1{
    background-image: url(../../images/app/sectionTitles/pst1.png);
    background-image: -webkit-image-set(url(../../images/app/sectionTitles/pst1.png) 1x,
    url(../../images/app/sectionTitles/feature@pst1.png) 2x);
}
.program .pSection .pSectionTitle.pst2{
    background-image: url(../../images/app/sectionTitles/pst2.png);
    background-image: -webkit-image-set(url(../../images/app/sectionTitles/pst2.png) 1x,
    url(../../images/app/sectionTitles/feature@pst2.png) 2x);
}
.program .pSection .pSectionTitle.pst3{
    background-image: url(../../images/app/sectionTitles/pst3.png);
    background-image: -webkit-image-set(url(../../images/app/sectionTitles/pst3.png) 1x,
    url(../../images/app/sectionTitles/feature@pst3.png) 2x);
}
.program .pSection .pSectionTitle.pst4{
    background-image: url(../../images/app/sectionTitles/pst4.png);
    background-image: -webkit-image-set(url(../../images/app/sectionTitles/pst4.png) 1x,
    url(../../images/app/sectionTitles/feature@pst4.png) 2x);
}
/*=======================================================================*/
.pSectionTopList{
    background: #f2f2f2;
    width: 98%;
    font-size: 0px;
    margin: 20px 0px;
    text-align: center;
}
.pSectionTopList .item{
    width: 30%;
    margin:20px 0px 20px 3%;
    position: relative;
}
.pSectionTopList .item:first-child{
    margin-left:0px;
}
.pSectionTopList .item .info{
    font-size: 14px;
    text-align: left;
    margin-left: 70px;
}
.pSectionTopList .item .title{
    margin: 10px 0px;
    color: #808080;
}
.pSectionTopList .item .date{
    color: #808080;
}
.pSectionTopList .item .icon{
    font-size: 36px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    bottom:0px;
    left:0px;
    color: #808080;
    border: 1px solid #808080;
    border-radius: 50%;
}
/*=============================================*/
.pSectionList1{
    font-size: 0px;
}
.pSectionList1 .item{
    width: 23%;
    margin-right: 2%;
    margin-bottom: 1.5%;
    vertical-align: top;
    position: relative;
    overflow: hidden;
    float: left;
}
.pSectionList1 .item:first-child{
    width: 48%;
}
.pSectionList1 .item:first-child .thumb{
    width: 100%;
    height: auto;
}
.pSectionList1 .item .info{
    width:100%;
    height: 100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    filter:alpha(opacity=20);
    background: #000;
    background: rgba(0,0,0,0.2);
    position:absolute;
    top:100%;
    left:0;
    transition:all 0.4s ease-out;
    color: #fff;
}
.pSectionList1 .item .title{
    font-size: 18px;
    text-align:center;
    padding: 5px 0px 10px 0px;
    line-height: 1.5em;
    color: #fff;
}
.pSectionList1 .item:hover .info{
    top:0;
}
/*========================================================================*/
.pSectionList2{
    font-size:0;
    margin-right: -0.5%;
}
.pSectionList2 .item{
    position:relative;
    overflow:hidden;
    width: 31%;
    margin:0 2.33% 2% 0;
    vertical-align: top;
}
.pSectionList2 .item .thumb{
    width:100%;
    transition:all 0.4s ease-out;
}
.pSectionList2 .item .info{
    width:100%;
    height: 100%;
    overflow:hidden;
    box-sizing:border-box;
    padding:20px 20px 30px 20px;
    filter:alpha(opacity=20);
    background: #000;
    background: rgba(0,0,0,0.2);
    position:absolute;
    top:100%;
    left:0;
    transition:all 0.4s ease-out;
    color: #fff;
}
.pSectionList2 .item .title{
    font-size: 18px;
    text-align:center;
    border-bottom: 2px solid #fff;
    padding: 5px 0px 10px 0px;
    line-height: 1.5em;
    color: #fff;
}
.pSectionList2 .item .excerpt{
    font-size:14px;
    line-height:1.5em;
    margin:auto;
    color: #fff;
    max-height: 3em;
    overflow: hidden;
}
.pSectionList2 .item .date{
    font-size:14px;
    margin: 10px 0px;
    position:static;
    text-align:center;
    display:block;
    color: #fff;
}
.pSectionList2 .item:hover .info{
    top:0;
}
/*=================================================*/
.pSectionList3{
    font-size: 0px;
}
.pSectionList3 .item{
    width: 23%;
    margin: 0 2% 2% 0;
    padding: 2%;
    box-sizing: border-box;
    vertical-align: top;
    border: 1px solid #fff;
}
.pSectionList3 .item .info{
    text-align: left;
}
.pSectionList3 .item .thumbContainer{
    overflow: hidden;
    perspective: 1000px;
}
.pSectionList3 .item .thumb{
    width: 100%;
    height: auto;
    transform: translateZ(0);
    transition:all .3s ease-out;
}
.pSectionList3 .item .title{
    font-size: 18px;
    color: #666;
    margin: 10px 0px 10px 0px;
}
.pSectionList3 .item .title a{
    color: #333;
}
.pSectionList3 .item .excerpt{
    font-size: 14px;
    line-height:1.5em;
    color: #808080;
    margin:0px;
    height: 4.5em;
    position: relative;
    overflow: hidden;
}
.pSectionList3 .item:hover{
    border: 1px solid #808080;
}
.pSectionList3 .item:hover .thumb{

    transform: translateZ(100px);
}
/*========================================================================*/
/**
* 继承pSectionList3
*/
.pSectionList4{

}
.pSectionList4 .item{
    border: none;
    padding: 0px;
}
.pSectionList4 .item:hover{
    border: none;
}
